.svbCardLink {
  font-size: 30px;
  color: #00A3E0;
  text-decoration: underline;
}
.svbMenuLink {
	font-size: 30px;
	color: #ffff00;	
	text-decoration: line-through;
}
.L01__slider-wrap{margin:3rem 3rem 0}